<div class="acoes-topo header-listagem">
  <h2 class="titulo-pagina">Listagem de Eventos</h2>
  <button mat-raised-button color="primary" routerLink="/events/new">
    <mat-icon>add</mat-icon> Novo Evento
  </button>
</div>

<div class="card-tabela">
  <table mat-table [dataSource]="events" class="full-width-table mat-elevation-z2">

    <!-- Título -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let event">{{ event.title }}</td>
    </ng-container>

    <!-- Data -->
    <ng-container matColumnDef="eventDate">
      <th mat-header-cell *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let event">
        {{ event.eventDate | date: "dd 'de' MMMM 'de' yyyy" }}
      </td>
    </ng-container>

    <!-- Local -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Local</th>
      <td mat-cell *matCellDef="let event">{{ event.location }}</td>
    </ng-container>

    <!-- Ações -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let event">
        <button mat-icon-button (click)="openDetails(event)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="editEvent(event)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
